.finale {
  height: 650px;
  display: flex;
  margin-top: -1px;
}

.margin-left {
  flex: 0.08;
  border: 1px;
  border-style: solid;
}

.final-foto-box {
  flex: 1;
  border: 1px;
  border-style: solid;
  margin-left: -1px;
}

.margin-right {
  flex: 0.08;
  border: 1px;
  border-style: solid;
  margin-left: -1px;
}

.fotofinale {
  height: 100%;
  width: 100%;
  object-fit:cover;
}

@media (max-width: 800px) {  
  .finale {
    height: 400px;
  }
  
  .final-foto-box {
    height: 400px;
  }
}